In [33]:
import pandas as pd

### Preparo la data

1.1 Leer el dataset

- Imput (x) -> Comentarios (reviews)
- Output (y) -> Sentimientos

In [34]:
# df_review = pd.read_csv("./data/crudo/IMDB_Dataset.csv")
df_review = pd.read_csv("C:/Users/moreiracristian/Documents/_elitianProyectos/imdb_proyect/data/crudo/IMDB_Dataset.csv")
df_review

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

Verifico la dataset antes de desvalancearlo

In [35]:
df_review.value_counts('sentiment')

sentiment
negative    25000
positive    25000
Name: count, dtype: int64

Desbalanceo mi dataset

In [36]:
df_positivo = df_review[df_review['sentiment'] == 'positive'][:9000]
df_negativo = df_review[df_review['sentiment'] == 'negative'][:1000]

df_review_des = pd.concat([df_positivo, df_negativo])
df_review_des

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
4     Petter Mattei's "Love in the Time of Money" is...  positive
5     Probably my all-time favorite movie, a story o...  positive
...                                                 ...       ...
2000  Stranded in Space (1972) MST3K version - a ver...  negative
2005  I happened to catch this supposed "horror" fli...  negative
2007  waste of 1h45 this nasty little film is one to...  negative
2010  Warning: This could spoil your movie. Watch it...  negative
2013  Quite what the producers of this appalling ada...  negative

[10000 rows x 2 columns]

In [37]:
df_review_des.value_counts('sentiment')

sentiment
positive    9000
negative    1000
Name: count, dtype: int64

1.2 Dataset desbalanceado

In [42]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler()
df_review_bal, df_review_bal['sentiment'] = rus.fit_resample(df_review_des[['review']], df_review_des['sentiment'])
df_review_des

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
4     Petter Mattei's "Love in the Time of Money" is...  positive
5     Probably my all-time favorite movie, a story o...  positive
...                                                 ...       ...
2000  Stranded in Space (1972) MST3K version - a ver...  negative
2005  I happened to catch this supposed "horror" fli...  negative
2007  waste of 1h45 this nasty little film is one to...  negative
2010  Warning: This could spoil your movie. Watch it...  negative
2013  Quite what the producers of this appalling ada...  negative

[10000 rows x 2 columns]

In [43]:
df_review_bal.value_counts(['sentiment'])

sentiment
negative     1000
positive     1000
Name: count, dtype: int64

1.3 Separo data para entrenar (train) y testear (test)

In [47]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_review_bal, test_size=0.33, random_state=42)

In [51]:
train_x, train_y = train['review'], train['sentiment']
test_x, test_y = test['review'], test['sentiment']

## Representación de texto (Bag of words)

- CountVectorizer
- Tfidf

2.1  Count Vectorizer (ejemplo)

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

text = [
    "Amo escribir código en Python", 
    "Amo escribir código en Python", 
    "Odio escribir código en Java. Odio escribir código en Java"
]

# Crear el DataFrame
df = pd.DataFrame({'review': ['review1', 'review2', 'review3'], 'text': text})

# Inicializar CountVectorizer
cv = CountVectorizer()

# Ajustar y transformar el texto
cv_matrix = cv.fit_transform(df['text'])

# Crear el DataFrame de Términos-Documento (DTM)
df_dtm = pd.DataFrame(cv_matrix.toarray(), index=df['review'], columns=cv.get_feature_names_out())

df_dtm

         amo  código  en  escribir  java  odio  python
review
review1    1       1   1         1     0     0       1
review2    1       1   1         1     0     0       1
review3    0       2   2         2     2     2       0

2.1  Tfidf (term frequency - inverse documents frequency) (ejemplo)

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

text = [
    "Amo escribir código en Python", 
    "Amo escribir código en Python", 
    "Odio escribir código en Java. Odio escribir código en Java"
]

# Crear el DataFrame
df = pd.DataFrame({'review': ['review1', 'review2', 'review3'], 'text': text})

# Inicializar tfidf
tfidf = TfidfVectorizer(stop_words='english')

# Ajustar y transformar el texto
tfidf_matrix = tfidf.fit_transform(df['text'])

# Crear el DataFrame de Términos-Documento (DTM)
df_dtm = pd.DataFrame(tfidf_matrix.toarray(), index=df['review'].values, columns=tfidf.get_feature_names_out())

df_dtm

              amo    código        en  escribir      java      odio    python
review1  0.512364  0.397897  0.397897  0.397897  0.000000  0.000000  0.512364
review2  0.512364  0.397897  0.397897  0.397897  0.000000  0.000000  0.512364
review3  0.000000  0.338381  0.338381  0.338381  0.572929  0.572929  0.000000